<p id="notice"><%= notice %></p>

<h1>Explains</h1>

<div class="table">
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @explains.each do |explain| %>
      <tr>
        <td><%= explain.title %></td>
        <td><%= link_to 'Show', user_explain_path(@user, explain) %></td>
        <td><%= link_to 'Edit', edit_user_explain_path(@user, explain) %></td>
        <td><%= link_to 'Destroy', user_explain_path(@user, explain), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div><%= link_to 'New Explain', new_user_explain_path %></div>
<div><%= link_to 'Requestページに戻る', user_requests_path %></div>
</div>
