<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @explain.title %>
</p>

<p>
  <strong>Precedure1:</strong>
  <%= @explain.precedure1 %>
</p>

<p>
  <strong>Image1:</strong>
  <%= @explain.image1 %>
</p>

<p>
  <strong>Precedure2:</strong>
  <%= @explain.precedure2 %>
</p>

<p>
  <strong>Image2:</strong>
  <%= @explain.image2 %>
</p>

<p>
  <strong>Precedure3:</strong>
  <%= @explain.precedure3 %>
</p>

<p>
  <strong>Image3:</strong>
  <%= @explain.image3 %>
</p>

<%= link_to 'Edit', edit_explain_path(@explain) %> |
<%= link_to 'Back', explains_path %>
